<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../CSS/reset.css"> 
    <link rel="stylesheet" href="./../CSS/login.css">
    <script src="./../javascript/login.js"></script>
</head>
<body>
    <header >
        <div class="container">
            <a href="./../views/index.html">
                <h1>Trackgenix</h1>
            </a>
            <h2>We’re Trackgenix SA</h2>
        </div>
    </header>
    <main>
        <section id="sec-login">
            <h2>Login</h2>
            <form id="login-form">
                <div class="login-elements reg">
                    <img src="./../images/email2.png" alt="email">
                    <input id="email" type="text" name="Email">
                </div>
                <label id="error-email">*wrong email</label>
                <div class="login-elements reg">
                    <img src="./../images/password.png" alt="password">
                    <input id="password" type="password" name="Password">
                </div>
                <label id="error-password">*wrong password</label>
                <div class="login-elements">
                    <input type="checkbox" name="RememberMe">
                    <label>Remember me</label>
                </div>
                <a href="#">Forgot password?</a>
                <input id="bottom" type="submit" value="Continue">
            </form>
        </section>
    </main>
    <footer id="footer">
        <p id="p-footer">Rosario, Santa Fe - Argentina </p>
        <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
    </footer> 
    
</body>
</html>