
body {
    position: relative;
    background-color: #ffffff;
    color: #373867;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}

hr {
    background-color:#AACE9B;
}

#container {
    background:#f8f8f8;
}

#hr-p {
    position: absolute;
    width: 224px;
    left: 62px;
    top: 111px;
}

#hr-s {
    position: absolute;
    width: 224px;
    left: 62px;
    top: 324px;
}
#hr-t {
    position: absolute;
    width: 1133px;
    height: 0px;
    left: 513px;
    top: 692px;
    border: 5px solid #EBFAE3;
}

#hr-c {
    position: absolute;
    width: 1133px;
    height: 0px;
    left: 513px;
    top: 1500px;
    border: 5px solid #EBFAE3;
}

#hr-q {
    position: absolute;
    width: 1133px;
    height: 0px;
    left: 513px;
    top: 2260px;
    border: 5px solid #EBFAE3;
}

#hr-s {
    position: absolute;
    width: 1133px;
    height: 0px;
    left: 513px;
    top: 3180px;
    border: 5px solid #EBFAE3;
}

#hr-se {
    position: absolute;
    width: 1133px;
    height: 0px;
    left: 513px;
    top: 4240px;
    border: 5px solid #EBFAE3;
}
#header{
    background: #AACE9B;
    color:#373867;
    text-align: right;
    font-weight: 700;
}
#header h1{
    color: #373867;
    font-size: 50px;
}

#header h2{
    color: #69A362;
    font-size: 17px;
}

#welcome {
    position: absolute;
    top: 104px;
    left: 318px;
}

#welcome h3 {
    font-size: 72px;
    font-weight: 700;
}

#welcome h4 {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
}
#welcome p {
    position: absolute;
    width: 431px;
    height: 334px;
    left: 43px;
    top: 212px;
    text-align: center;
    font-size: 22px;
}

#welcome img {
    position: absolute;
    left: 608px; 
}

#sidebar {
    position: static;
    display: block;
    top: 122px;
    width: 253px;
    height: 6000px;
    background-color: #373867;
    color: #ffffff;
    border-left: 29px solid #AACE9B;
    padding: 8px;
    text-align: center;
}

#sidebar ul {
    position: absolute;
    width: 162px;
    height: 42px;
    left: 85px;
    top: 120px;

}

#sidebar li {
    margin-top: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    background:#AACE9B;
    border-radius: 10px ;
}

#sidebar a {
    text-decoration: none;
    color:#373867;
    font-size: 20px;
}

#sidebar h4 {
    margin-top: 315px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

#sidebar .paragraph {
    margin-bottom: 175px;
}

#features {
    position: absolute;
    top: 608px;
    left: 318px;
    margin-top: 120px;
}

#features div {
    display: inline-block;
    width: 49%;
}

#features h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
}

#features h3 {
    font-size: 25px;
    font-weight: 700;
}

#features p {
    width: 291px;
    height: 0px;
    text-align: center;

}

#features img {
    opacity: 0.5;
}
#features .img-hourse{
    position: absolute;
    width: 210px;
    height: 198.28px;
    left: 0px;
    top: 145px;
}

#features .img-resource {
    position: absolute;
    width: 260px;
    height: 150px;
    left: 637px;
    top: 145px;
}
#features .img-report {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 0px;
    top: 507px;
}

#features .img-roles {
    position: absolute;
    width: 260px;
    height: 150px;
    left: 637px;
    top: 507px;
}

#hours h3 {
    position: absolute;
    left: 227px;
    top: 136px;
}

#hours p {
    position: absolute;
    left: 214px;
    top: 200px;
}

#resource-management h3 {
    position: relative;
    left: 700px;
    top: 40px;
}

#resource-management p {
    position: absolute;
    left: 910px;
    top: 205px;
}

#reports h3 {
    position: absolute;
    left: 227px;
    top: 500px;
}

#reports p {
    position: absolute;
    left: 227px;
    top: 576px;
}

#multiple-roles h3 {
    position: relative;
    left: 700px;
    top: 354px;
}

#multiple-roles p {
    position: absolute;
    left: 910px;
    top: 576px;
}

#second-features{
    position: absolute;
    top: 1560px;
    left: 425px;

}

#second-features div {
    display: inline-block;
    width: 35%;
    margin-top: 50px;
    margin-left: 50px;
    border: 4px solid #AACE9B;
}

#second-features h3 {
    padding-top: 30px;
    color: #AACE9B;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

#second-features p {
    padding: 50px;
    text-align: center;
    font-size: 22px ;
}

#information {
    position: absolute;
    top: 2381px;
    left: 318px;
}

#information h2 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
}

#info-form {
    padding: 20px;
}

#info-form .form-group {
    padding-bottom: 15px;
}

#info-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

#info-form input[type= "text"] {
    padding: 10px;
    width: 505%;
    background-color: #CBCBCB ;
    border-radius: 20px;
}

#info-form p {
    font-weight: 700;
}

#info-form textarea{
    padding: 10px;
    width: 505%;
    height: 222px;
    background-color: #CBCBCB ;
    border-radius: 20px;
}

#info-form input[type= "submit"] {
    position: absolute;
    left: 500px;
    margin-top: 10px;
    padding: 10px 25px;
    background-color:#69A362;
    color: #373867;
    font-weight: 700;
    border-radius: 5px;
}

#history {
    position: absolute;
    top: 3226px;
    left: 518px;
    margin-top: 100px;
    text-align: center;
    font-size: 19px;
}

#history h2 {
    margin-bottom: 75px;
    font-size: 50px;
    font-weight: 700;
}

#history .first-part {
    margin-bottom: 75px ;
    font-size: 24px;
    font-weight: 700;
}

#history p {
    display: block;
    width: 1098px;
    margin-bottom: 30px;
}

#option {
    position: absolute;
    top: 4600px;
    left: 518px;
}

#option div{
    display: inline-block;
    width: 455px;
}

#option h3 {
    margin-bottom: 30px;
    color:#AACE9B;
    font-size: 36px;
    font-weight: 700;
}

#option li {
    font-weight: 700;
    list-style-type: square;
}

#option a {
    text-decoration: none;
    color: #373867;
    font-size: 20px;
    font-weight: 700;
}

#footer {
    position: absolute;
    top: 5933px;
    left: 298px;
    width: 84%;
    height: 150px;
    text-align: center;
    font-weight: 700;
    background:#AACE9B;
}

#footer .p-margin {
    margin-top: 60px;
}